.main-stars-header {
  background-image: url(../Assets/Headers/Advertisements\ and\ bids.png) !important;
}
.Vacancies-opening span {
  color: var(--main-color);
  margin-bottom: 1rem;
}
.ads-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.ads-card {
  background-color: var(--gray-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ads-card span {
  color: var(--main-color);
  margin-inline-start: 1.5rem;
}
.ads-card img {
  width: 100%;
}
.ads-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ads-card-content span {
  margin: 0;
}
