.Announcement-card-container {
  border: 1.5px solid rgb(20 20 20 / 20%);
  border-radius: 8px;
}
.Announcement-box h4 {
  margin-bottom: 0;
  color: #000;
}
.Announcement-card-container > span {
  color: var(--main-color);
  margin-bottom: 0.5rem;
}
.Announcement-card-container .Announcement-desc > p {
  margin-bottom: 0;
  /* font-weight: 500;
  font-size: 18px; */
}
.Announcement-box > span {
  color: var(--main-color);
  font-size: 0.9rem;
}
.back-btn {
  color: var(--main-color);
}
.back-btn svg {
  transform: scaleX(-1);
}
.arabic-version .back-btn svg {
  transform: scaleX(1);
}
.hover-growing-links {
  padding-block: 5px;
}
.arabic-version .hover-growing-links {
  padding-block: 0px;
}
.Announcement-box h5 {
  color: #000;
}
.Announcement-box {
  border-radius: 10px;
}
.back-btn {
  font-size: 0.9rem;
  cursor: pointer;
}
