.main-stars-header {
  background-image: url(../Assets/Headers/Board\ of\ Directors.png);
}
.BoardOFDirectors-opening h4 {
  color: var(--main-color);
  margin-bottom: 1rem;
}
.BoardOFDirectors-opening h2 {
  width: 50%;
}
.BoardOFDirectors-container {
  display: flex;
  gap: 20px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #f7f8fa;
  align-items: center;
  padding: 1rem;
}
.BoardOFDirectors-container div {
  flex: 1;
}
.BoardOFDirectors-container picture {
  flex: 1;
}
.BoardOFDirectors-container img {
  width: 100%;
  border-radius: 8px;
}
.BoardOFDirectors-container h4 {
  color: var(--main-color);
}
.BoardOFDirectors-container button {
  border: none;
  background: none;
}
.BoardOFDirectors-container:nth-child(odd) {
}
.row-reverse{
  flex-direction: row-reverse;

}
.row{
  flex-direction: row;
}

/* Popup Modal */
.popup {
  display: none;
  position: fixed;
  z-index: 1000000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 900px;
  height: 600px;
  object-fit: contain;
  background-color: #ffffff;
  border-radius: 10px;
}
.popup-content img {
  width: 100%;
  object-fit: cover;
}
.popup-content-inner {
  padding: 2rem;
}
.popup-content-inner h5 {
  color: var(--main-color);
  margin-bottom: 1rem;
}
.popup-content-inner h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  position: relative;
}
.popup-content-inner h3::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 10px;
  inset-inline-start: 0;
  inset-block-start: -1.5rem;
}
.popup-scrolled-content {
  height: 400px;
  overflow-y: scroll;
  direction: rtl;
}
.popup-scrolled-content div {
  direction: ltr;
  padding-inline-start: 0.5rem;
}
.popup-scrolled-content::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}
.popup-scrolled-content::-webkit-scrollbar-track {
  background: #e2ebe2; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounding the track edges */
}
.popup-scrolled-content::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Scrollbar thumb color */
  border-radius: 10px; /* Rounding the thumb */
  border: 3px solid #e2ebe2; /* Creates space around the thumb */
}
.popup-scrolled-content .popup-scrolled-content .img-container {
  width: fit-content;
  margin: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  inset-inline-end: 4rem;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close picture {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 991px) {
  .popup-content {
    width: 80%;
    height: auto;
    grid-template-columns: 1fr;
  }
  .popup-footer {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    bottom: -200px;
    gap: 0;
    padding-bottom: 2rem;
  }
  #info-text {
    left: 12%;
  }
  .close {
    right: 10%;
  }
  .BoardOFDirectors-container {
    flex-direction: column !important;
  }
}
/* Ticket 32 */
.BoardOFDirectors-container {
  background-color: #f2f4f7;
}
