.ministers-of-state-full-width-card-container {
    position: relative;
    background: #0337500d;
    display: flex;
    gap: 2rem;
    border-radius: 20px;
    overflow: hidden;
  }
  
  /* .ministers-of-state-full-width-card-container::after {
    inset-inline-end: 0.5rem;
    bottom: 2rem;
    content: "";
    position: absolute;
    background-image: url("../Assets/Icons/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 11rem;
    height: 11rem;
  } */
  .ministers-of-state-full-width-card--img {
    min-width: 300px;
    max-width: 370px;
  }
  @media (max-width: 1400px) {
    .ministers-of-state-full-width-card--img {
      min-width: 400px;
      /* max-width: 300px; */
    }
  }
  .ministers-of-state-full-width-card--img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .ministers-of-state-full-width-card--content {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    padding-inline-end: 2rem;
    gap: 0.75rem;
    width: 100%;
  }
  #MinistersOfStateForPm a.hover-growing-links[data-hover-pos="start"] span {
    font-weight: 500;
  }
  #MinistersOfStateForPm
  a.hover-growing-links[data-hover-pos="start"]
  i {
  transform: scale(-1);
  }
  .arabic-version #MinistersOfStateForPm
  a.hover-growing-links[data-hover-pos="start"]
  i {
  transform: scale(1);
  }
  
  #MinistersOfStateForPm
  a.hover-growing-links[data-hover-pos="start"]:hover
  i {
  transform: translateX(-5px) scale(-1);
  }
  .arabic-version
    #MinistersOfStateForPm
    a.hover-growing-links[data-hover-pos="start"]:hover
    i {
    transform: translateX(5px);
  }
  .ministers-of-state-full-width-card--content h3 {
    color: var(--secondary-color);
  }
  .ministers-of-state-full-width-card--content a {
    align-self: end;
  }
  .ministers-of-state-full-width-card--content p {
    text-align: justify;
    margin-bottom: 0;
  }
  .ministers-of-state-full-width-card--badge {
    position: absolute;
    inset-inline-end: 3rem;
    width: 6rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    z-index: 5;
    background-image: url("../Assets/Icons/current-badge.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ministers-of-state-full-width-card--badge span {
    color: #fff;
    padding-top: 1.5rem;
  }
  .ministers-of-state-full-width-card--content h1 {
    padding-inline-end: 6rem;
  }
  @media (max-width: 900px) {
    .ministers-of-state-full-width-card--img {
      min-width: 300px;
    }
  }
  
  @media (max-width: 767px) {
    .ministers-of-state-full-width-card--badge {
      inset-inline-end: 1rem;
    }
    .ministers-of-state-full-width-card--img img {
      object-fit: contain;
      border-radius: 20px;
    }
    .ministers-of-state-full-width-card--img {
      max-width: 100%;
      /* max-height: 300px; */
    }
    .ministers-of-state-full-width-card-container {
      flex-direction: column;
    }
    .ministers-of-state-full-width-card--content {
      padding-top: 0;
      padding-inline: 1rem;
    }
  }
  
  .ministers-of-state-cards-container {
    display: grid;
    padding-top: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .ministers-of-state-card {
    display: flex;
    width: 100%;
    border-radius: 20px;
    gap: 1rem;
    overflow: hidden;
    background: #0337500d;
  }
  .ministers-of-state-card--content {
    padding-block: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline-end: 1rem;
    justify-content: space-between;
  }
  .ministers-of-state-card--content a {
    align-self: flex-end;
  }
  .ministers-of-state-card--img {
    max-width: 200px;
  }
  .ministers-of-state-card img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  
  @media (max-width: 1200px) {
    .ministers-of-state-cards-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .ministers-of-state-cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
    .ministers-of-state-card img {
      border-radius: 20px;
    }
    .ministers-of-state-card--content {
      padding-top: 0rem;
      gap: 1rem;
      padding-inline-start: 1rem;
    }
    .ministers-of-state-card {
      flex-direction: column;
    }
  }
  
  @media (max-width: 575px) {
      .pagination-wrapper{
          gap: 2rem;
      }
      .pagination-wrapper > div{
          align-self: flex-end;
          justify-self: flex-end;
      }
    .ministers-of-state-cards-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .ministers-of-state-card--img {
      max-width: 100%;
    }
  }
  @media (max-width: 400px) {
    .ministers-of-state-cards-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  