.FormationReports-container .accordion-button {
    border: unset;
    font-weight: 500;
    color: var(--main-color);
}
.FormationReports-container .accordion-button::after {
    margin-inline-start: auto;
    margin-inline-end: unset;
  }
  .FormationReports-container .accordion-flush {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: start;
  }
  
  .FormationReports-container .accordion-flush .accordion-header {
    border-radius: 15px !important;
  }
  .FormationReports-container .accordion-flush .accordion-item {
    width: 100%;
    border-radius: 15px !important;
    overflow: hidden;
    border: 1px solid rgba(3, 55, 80, 0.2);
    /* border-top: unset; */
  }
  .FormationReports-container .accordion-flush .accordion-button:not(.collapsed) {
    box-shadow: none;
    background: var(--main-color);
    transition: all 0.3s ease-out;
    border-radius: 0;
    color: #fff;
  }
  .FormationReports-container .accordion-flush .accordion-button:not(.collapsed)::after {
    transform: rotate(0);
    background-image: url("../Assets/Icons/minus.svg");
  
    background-position: center;
  }
  .FormationReports-container .accordion-flush .accordion-button::after {
    background-image: url("../Assets/Icons/plus.svg");
  }
  .FormationReports-container .accordion-flush .accordion-button {
    transition: all 0.3s ease-out;
    border-radius: 0px !important;
    box-shadow: none;
  }



  .FormationReports-table {
    /* background: rgba(3, 55, 80, 0.05); */
    border:  rgba(3, 55, 80, 0.05) solid 1px;
    border-radius: 10px;
  }
  .FormationReports-table .section-topic {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  
  .FormationReports-table table::after {
    position: absolute;
    inset: 0;
    width: 100%;
    content: "";
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    z-index: -1;
  }
  .FormationReports-table table {
    /* border: 1px solid #033750; */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  .FormationReports-table table thead tr {
    border-width: 0px;
  }
  .FormationReports-table table thead tr th {
    border-width: 0px;
  }
  .FormationReports-table table thead {
    background: rgba(3, 55, 80, 0.05);
    color: var(--main-color);
  }
  .FormationReports-table table td {
    padding: 1rem 2.5rem;
    font-weight: 400;
    color: var(--main-color);
  }
  .FormationReports-table table tr {
    border-bottom: 1px solid rgba(3, 55, 80, 0.1);
    min-width: 10rem;
  }
  .FormationReports-table table th {
    padding: 1rem 2.5rem;
  
    min-width: 10rem;
    
  }
  .FormationReports-table table tbody tr:last-of-type {
    border-bottom: 0px transparent;
  }