.ministers-of-state-inner-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding-block: 2rem;
  }
  .ministers-of-state-inner-grid {
    /* background: #000;    */
    width: 100%;
    height: 100%;
  }
  .ministers-of-state-inner-container .tab-content {
    width: 100%;
    height: 100%;
  }
  .ministers-of-state-inner-nav {
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0px 0px 30px 0px #b6b6b64d;
  
    height: max-content;
    align-self: center;
  }
  .ministers-of-state-inner-nav .nav-link:hover svg path {
    fill: var(--secondary-color);
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-nav .nav-link:hover {
    transition: all 0.3s ease-out;
  
    color: var(--secondary-color);
  }
  .ministers-of-state-inner-nav .nav-link::after {
    bottom: -0.75rem;
    content: "";
    width: 100%;
    height: 1px;
    background: #03375036;
    position: absolute;
  }
  .ministers-of-state-inner-nav .nav-link:last-of-type::after {
    display: none;
  }
  .ministers-of-state-inner-nav .nav-link span {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .ministers-of-state-inner-nav .nav-link {
    color: var(--main-color);
    padding: 0;
    display: flex;
    padding-inline: 0.5rem;
    justify-content: center;
    gap: 0.25rem;
    align-items: center;
    position: relative;
    max-width: min-content;
    flex-direction: column;
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-nav .nav-link.active {
    background: #fff;
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-nav .nav-link svg path {
    fill: var(--main-color);
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-nav .nav-link.active svg path {
    fill: var(--secondary-color);
    transition: all 0.3s ease-out;
  }
  
  .ministers-of-state-inner-grid.active {
    display: flex !important;
  
    /* padding-block: 2rem; */
  }
  .ministers-of-state-inner-img {
    overflow: hidden;
    max-width: 400px;
    box-shadow: 0px 0px 30px 0px #b6b6b64d;
    border-radius: 15px;
  }
  .ministers-of-state-inner-img > div {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .ministers-of-state-inner-img > div a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 100%;
    aspect-ratio: 1;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--main-color);
  }
  .ministers-of-state-inner-img > div > div {
    display: flex;
    gap: 1rem;
  }
  
  .ministers-of-state-inner-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .ministers-of-state-inner-content {
    margin: 1rem;
    box-shadow: 0px 0px 50px 0px #b6b6b633;
    width: 100%;
    padding: 2rem;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
    margin-inline-start: 0;
    overflow: hidden;
    max-height: 500px;
    display: flex;
    padding-bottom: 3rem;
    flex-direction: column;
  }
  
  .nav-pills {
    box-shadow: 0px 0px 30px 0px #b6b6b64d;
    border-radius: 15px;
  }
  
  .ministers-of-state-inner-content--inner {
    height: 100%;
    /* scrollbar-color: #033750 #03375026; */
    padding-inline-end: 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ministers-of-state-inner-content h1 {
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
  }
  .ministers-of-state-inner-content--inner ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 2rem;
    list-style: none;
    gap: 1rem;
  }
  
  .ministers-of-state-inner-content--inner li::before {
    background: var(--main-color);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 100%;
    position: absolute;
    top: 0.5rem;
    inset-inline-start: -1.5rem;
    content: "";
  }
  
  .ministers-of-state-inner-content--inner li {
    text-align: justify;
    color: var(--main-color);
    position: relative;
    padding-inline-end:1rem ;
  }
  
  .ministers-of-state-inner-content--inner::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }
  
  /* The part of the scrollbar that can be dragged */
  .ministers-of-state-inner-content--inner::-webkit-scrollbar-thumb {
    background-color: #0a3d57; /* Dark blue color */
    border-radius: 10px; /* Round the edges */
  }
  
  /* Optional: adds space around the thumb */
  .ministers-of-state-inner-content--inner::-webkit-scrollbar-thumb:hover {
    background-color: #084a63; /* Slightly lighter on hover */
  }
  
  /* The scrollbar background */
  .ministers-of-state-inner-content--inner::-webkit-scrollbar-track {
    background-color: #e1e7ea; /* Light gray color */
    border-radius: 10px; /* Match the rounded edges */
  }
  .ministers-of-state-inner-img > div h1 {
    text-align: center;
  }
  @media (max-width: 1200px) {
    .ministers-of-state-inner-img {
      max-width: 300px;
    }
  }
  @media (max-width: 991px) {
    .ministers-of-state-inner-img {
      /* max-width: 280px; */
      align-self: center;
    }
    .ministers-of-state-inner-content {
      padding: 1rem;
    }
    .ministers-of-state-inner-content--inner {
      padding-inline-end: 0rem;
    }
    .ministers-of-state-inner-grid.active {
      flex-direction: column;
    }
    .ministers-of-state-inner-nav {
      position: sticky;
      top: 6rem;
      align-self: flex-start;
    }
  }
  /* @media (max-width: 767px) {
  } */
  .ministers-of-state-inner-img > div a {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-img > div a::after {
    width: 100%;
    height: 100%;
    background: var(--main-color);
    content: "";
    position: absolute;
    inset-inline-start: 100%;
    border-radius: 100%;
    z-index: 3;
    transition: all 0.3s ease-out;
  }
  .arabic-version .ministers-of-state-inner-img > div a::after {
    inset-inline-start: 100%;
  }
  .ministers-of-state-inner-img > div a::after {
    inset-inline-end: 100%;
    inset-inline-start: unset;
  }
  .ministers-of-state-inner-img > div a:hover::after {
    inset-inline-end: 0%;
  }
  .arabic-version .ministers-of-state-inner-img > div a:hover::after {
    transition: all 0.3s ease-out;
    inset-inline-start: 0%;
  }
  
  .ministers-of-state-inner-img > div a svg {
    transition: all 0.3s ease-out;
  }
  .ministers-of-state-inner-img > div a:hover svg {
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-out;
    stroke: #fff;
  }
  


  .useful-links-section {
    margin-bottom: 5rem;
    background-color: #f2f5f6;
    padding-bottom: 5rem;
    padding-top: 10rem;
  }
  .arrows-container-slider {
    padding-top: 2.5rem;
    display: flex;
  }
  
  .arabic-version .arrows-container-slider {
    flex-direction: row-reverse;
  }
  .arabic-version .keep-intouch-section .hover-growing-links i,
  .arabic-version .useful-links-section .hover-growing-links i {
    transform: scale(-1);
  }
  .arabic-version .keep-intouch-section .hover-growing-links:hover i,
  .arabic-version .useful-links-section .hover-growing-links:hover i {
    transform: scale(-1) translateX(-5px);
  }
  .arrows-container-slider span {
    border: 1px solid var(--main-color);
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .arrows-container-slider span {
    color: var(--main-color);
    overflow: hidden;
  }
  .arrows-container-slider span i {
    position: relative;
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .arrows-container-slider span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    inset-inline-start: 100%;
    border-radius: 100%;
    background: var(--main-color);
  }
  .arrows-container-slider span:hover::after {
    transition: all 0.2s ease-out;
  
    inset-inline-start: 0%;
  }
  .arrows-container-slider span:hover i {
    transition: all 0.2s ease-out;
    color: #fff;
  }
  .arabic-version .arrows-container-slider span.government-strategies-next::after,
  .arabic-version .arrows-container-slider span.next::after {
    right: -100%;
  }
  .arabic-version
    .arrows-container-slider
    span.government-strategies-next:hover::after,
  .arabic-version .arrows-container-slider span.next:hover::after {
    left: unset;
    right: 0;
  }
  
  .arrows-container-slider span.government-strategies-prev::after,
  .arrows-container-slider span.prev::after {
    left: -100%;
  }
  .arrows-container-slider span.government-strategies-prev:hover::after,
  .arrows-container-slider span.prev:hover::after {
    transition: all 0.2s ease-out;
  
    left: 0%;
  }

  .Blue-circle-icon {
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
  }
  .useful-links-card {
    border: 1px solid #033750;
    padding: 1rem;
    border-radius: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .useful-links-card a {
    align-self: flex-end;
  }
  .useful-links-card h3 {
    /* font-size: 19px; */
    min-height: 45px;
  }
  .useful-links-card p {
    /* font-size: 14px; */
    color: #03375080;
  }
  .useful-links-slider .slick-track {
    display: flex;
    gap: 20px;
  }
  .useful-links-slider .slick-prev,
  .useful-links-slider .slick-next {
    width: 2rem;
    z-index: 5;
    top: unset;
    bottom: -25%;
    border-radius: 100%;
    aspect-ratio: 1;
    height: 2rem;
    border: 1px solid #033750;
  }
  
  .useful-links-slider .slick-prev {
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: center;
    background-image: url("../Assets/Icons/government-strategies-arrow-left.svg");
    right: 75px;
    left: unset;
  }
  
  .useful-links-slider .slick-next {
    left: unset;
    right: 30px;
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: center;
    background-image: url("../Assets/Icons/government-strategies-arrow-right.svg");
  }
  .arabic-version .useful-links-slider .slick-prev {
    right: unset;
    left: 75px;
  }
  .arabic-version .useful-links-slider .slick-next {
    right: unset;
    left: 30px;
  }
  
  .useful-links-slider .slick-prev::before,
  .useful-links-slider .slick-next::before {
    display: none;
  }
  .arabic-version .hover-growing-links i{
    transform: scale(-1);
  }
  .share-btn{
    margin-inline-end: 6rem;
    margin-bottom: 3rem;
  }
  .arabic-version  .share-btn{
    margin-inline-end: 4rem;
  }
  .gov-slider-section{
    background-color: #f1f5f6;
    padding-bottom: 1rem;
  }