.hero-section {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 70%
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
  z-index: 1;
  pointer-events: none;
}

.arabic-version .hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 60%
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 60%);
  z-index: 1;
  pointer-events: none;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url(../Assets/Home/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translateY(0);
  /* Starting position */
}

.hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  margin-top: auto;
  z-index: 2;
}

.hero-content span {
  color: white !important;
}

.hero-content h1 {
  width: 50%;
}

.hero-card p {
  font-size: 0.875rem;
  opacity: 0.8;
  font-weight: 300;
  margin-bottom: 0;
}

.arabic-version .hero-card p {
  font-weight: 300;
}

.hero-cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.hero-card {
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.hero-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.hero-card::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
}

@media (max-width: 991.888888px) {
  .hero-cards-box {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content {
    margin-top: 15.25rem;
  }
}

@media (max-width: 767.888888px) {
  .hero-content h1 {
    width: 100%;
  }

  .hero-content {
    margin-top: 15.25rem;
  }
}

.ImportantWork-opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ImportantWork-opening h4 {
  color: var(--main-color);
}

.ImportantWork-slider .slick-track {
  display: flex;
  gap: 1rem;
  padding-block: 3rem;
}

.ImportantWork-slider img {
  width: 100%;
  aspect-ratio: 85/57;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.ImportantWork-slider .slick-slide {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  /* max-height: 10rem; */
}

.ImportantWork-slider .slick-slide:not(.slick-center) {
  transition: all 0.3s ease-out;
  /* transform: translateX(1rem); */
  transform: scale(0.9);
}

.ImportantWork-slider .slick-center {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
  z-index: 5;
}

.ImportantWork-arrows-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.ImportantWork-arrows-container span {
  border-radius: 100%;
  position: relative;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImportantWork-arrows-container span i {
  border-radius: 100%;
  background: transparent;
  color: var(--main-color);
  max-width: max-content;
  font-size: 1rem;
  transform: none;
  margin-top: 0;
  position: relative;
}

.ImportantWork-arrows-container span:hover i {
  transform: rotate(0);
  color: #fff;
}

.ImportantWork-arrows-container span:hover {
  background-color: var(--main-color);
}

.ImportantWork-arrows-container .ImportantWork-arrows-prev::after {
  inset-inline-start: unset;
  inset-inline-end: 100%;
}

.ImportantWork-arrows-container .ImportantWork-arrows-prev:hover::after {
  inset-inline-end: 0%;
  inset-inline-start: unset;
}

.arabic-version .ImportantWork-arrows-container span:hover i {
  transform: scale(-1);
}

@media (max-width: 767.88888888px) {
  .home-slider-inner-circle {
    max-width: 280px;
    aspect-ratio: 1;
  }

  .home-slider-inner-circle h2 {
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  .home-slider-inner-circle span {
    font-size: 0.9rem;
  }
}

@media (max-width: 576.88888888px) {
  .home-slider-inner-circle span {
    font-size: 0.85rem;
  }

  .home-slider-inner-circle {
    aspect-ratio: unset;
    border-radius: 0;
    justify-content: center;
    padding-top: unset;
    height: 100%;
    padding-bottom: unset;
    background: #7a1129c5;
    bottom: -0%;
    inset-inline-start: -8%;
  }

  .ImportantWork-slider .slick-center {
    border-start-start-radius: 10px;
    transform: scale(1.1);
  }

  .ImportantWork-slider .slick-track {
    gap: 0.5rem;
  }
}

@media (max-width: 400px) {
  .ImportantWork-slider .slick-center {
    border-start-start-radius: 10px;
    transform: scale(1);
  }

  .home-slider-inner-circle {
    width: 100%;
    /* inset: 0; */
    max-width: 80%;
  }
}

.darkLayer-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 60px;
  color: #fff;
}

.darkLayer-section .container span {
  color: white !important;
}

.darkLayer-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.darkLayer-section {
  background-image: url("../Assets/Inners/About Company/Rectangle\ 179.png");
  background-repeat: no-repeat;
  padding-block: 5rem;
  background-size: cover;
  background-attachment: fixed;
}

.darkLayer-section h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.darkLayer-section h1 {
  color: #fff;
}

@media (max-width: 991.88888px) {
  .darkLayer-section .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575.88888px) {
  .darkLayer-section .container {
    grid-template-columns: 1fr;
  }
}

.company-products-section {
  padding-block: 3rem;
  background-color: #f6f6f6;
}

.company-products-opening h4 {
  color: var(--main-color);
}

.company-products-container img {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

.company-products-container {
  position: relative;
  margin-top: 5rem;
}

.home-accordion {
  position: absolute;
  top: -3rem;
  inset-inline-start: 2rem;
  display: block !important;
  width: 40%;
  background-color: #fff;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  padding-top: 1rem;
}

.home-accordion::-webkit-scrollbar {
  display: none;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background: #fff !important;
  border: none !important;
}

.custom-accordion .accordion-btn {
  margin-inline-start: unset !important;
}

.custom-accordion .accordion-btn::after {
  display: none;
}

.custom-accordion .accordion-btn::before {
  display: none;
}

.custom-accordion .accordion-button {
  /* max-height: 30px !important; */
  padding-block: 1rem !important;
  border-bottom: 1px solid #2424243a !important;
  border-radius: 0% !important;
}

.custom-accordion .accordion-button:not(.collapsed) .accordion-btn {
  background-color: var(--main-color) !important;
  border: none !important;
}

.custom-accordion .accordion-btn {
  background-color: #edf2ee !important;
}

.custom-accordion .accordion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-accordion .accordion-btn svg {
  fill: var(--main-color);
}

.custom-accordion .accordion-button:not(.collapsed) .accordion-btn svg {
  fill: #fff;
}

.custom-accordion .accordion-item .accordion-body p {
  color: #141414 !important;
  opacity: 0.5;
}

.custom-accordion .accordion-body {
  border-bottom: 1px solid #2424243a !important;
}

.Faqs-acc-splited-div {
  gap: 0rem !important;
}

#scroll-arrow {
  position: absolute;
  background-color: var(--main-color);
  bottom: 0.5rem;
  right: 45%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: none;
  z-index: 9999;
}

#scroll-arrow img {
  margin: 0;
  transform: scale(0.5);
}

.scroll-up {
  transform: translateX(-50%) rotate(180deg) !important;
  /* Flips the arrow */
  bottom: 0 !important;
}

@media (max-width: 767.88888px) {
  .home-accordion {
    position: relative;
    height: auto;
    width: 100%;
    inset-inline-start: 0;
  }

  #scroll-arrow {
    display: none;
  }
}

.development-section {
  padding-block: 3rem;
  background-color: var(--gray-color);
}

.development-opening h4 {
  color: var(--main-color);
}

.Development-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-block: 3rem;
}

.Development-cards-containers {
  width: calc(100%);
}

.Development-cards-container .slick-track {
  margin-inline: 0;
  min-height: 450px;
  display: flex;
  gap: 1.5rem;
}

.Development-cards-container .Development-card {
  position: relative;
  width: 100%;
  height: 400px;
  /* min-height: 300px; */
  overflow: hidden;
  border-radius: 20px;
}

.Development-cards-container
  .slick-list.draggable
  .slick-track
  .Development-card:nth-child(3n - 1) {
  transform: translateY(50px);
}

@media (max-width: 1200px) {
  .Development-cards-container
    .slick-list.draggable
    .slick-track
    .Development-card:nth-child(even) {
    transform: translateY(50px);
  }

  .Development-cards-container
    .slick-list.draggable
    .slick-track
    .Development-card:nth-child(3n-1) {
    transform: none;
  }
}

@media (max-width: 500px) {
  .Development-cards-container
    .slick-list.draggable
    .slick-track
    .Development-card:nth-child(even) {
    transform: none;
  }

  .Development-cards-container
    .slick-list.draggable
    .slick-track
    .Development-card:nth-child(3n-1) {
    transform: none;
  }
}

.Development-cards-container .Development-card .flipping-card--front h4 {
  position: absolute;
  padding-inline-end: 1rem;
  bottom: 5%;
  z-index: 10;
  color: #fff;
  inset-inline-start: 7.5%;
}

.arabic-version
  .Development-cards-container
  .Development-card
  .flipping-card--front
  h3 {
  bottom: 9%;
}

.Development-cards-container .Development-card .flipping-card--front img {
  width: 100%;
  height: 100%;
}

.Development-cards-container .Development-card .flipping-card--front::after {
  background: linear-gradient(
    180deg,
    rgba(34, 41, 45, 0.2) 20%,
    rgba(34, 41, 45, 0.6) 100%
  );
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.Development-cards-container .Development-card .flipping-card--front {
  transition: all 0.5s ease-out;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* =======================================================
  /* ======================================================= */
/* ======================================================= */
/* .Development-cards-container
    .Development-card.application
    .flipping-card--back::before {
    background: #033850b7;
    content: "";
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
  } */

.flipping-card-back--application {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  /* padding-block: 1.5rem; */
  padding: 1rem 1.5rem;
  color: #fff;
  overflow: hidden;
}

.flipping-card-back--application h3 {
  color: #fff;
  padding-top: 1.25rem;
}

.flipping-card-back--application span {
  color: #fff !important;
}

.flipping-card-back--application p {
  overflow: hidden;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  /* number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

*/

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
.Development-cards-container .Development-card.fancy-card .flipping-card--back a[data-fancybox] {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}

.Development-cards-container
  .Development-card.fancy-card
  .flipping-card--back
  a[data-fancybox]
  img {
  width: 80px;
  height: 80px;
}

.Development-cards-container
  .Development-card.fancy-card
  .flipping-card--back::before {
  background: linear-gradient(0deg, #093a62 0%, rgba(9, 58, 98, 0) 100%);
  content: "";
  width: 100%;
  top: 0;
  height: 100%;
  /* z-index: 5; */
  position: absolute;
}

/* ====================================> */
/* ====================================> */
/* ====================================> */

.custom-accordion .Faqs-acc-splited-div .accordion-button:not(.collapsed) {
  color: var(--main-color);
}

/* ====================================> */
/* ====================================> */
/* ====================================> */

.Development-cards-container .Development-card .flipping-card--back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  transform: perspective(600px) rotateY(180deg);
}

.Development-cards-container .Development-card .flipping-card--back img {
  width: 100%;
  height: 100%;
}

.Development-cards-container .Development-card .flipping-card--front img {
  width: 100%;
}

.Development-cards-container .Development-card:hover .flipping-card--front {
  transition: all 0.5s ease-out;
  transform: perspective(600px) rotateY(180deg);
}

.Development-cards-container .Development-card:hover .flipping-card--back {
  transition: all 0.5s ease-out;
  transform: perspective(600px) rotateY(360deg);
  background-color: var(--main-color);
}

.Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links {
  background: transparent;
}

.Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links
  .arrow
  i {
  color: var(--main-color) !important;
}

.Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links
  .arrow {
  background: #fff;
  border: none !important;
}

.arabic-version
  .Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links
  .arrow
  i {
  transform: scale(-1) !important;
}

.Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links::after {
  background: #fff !important;
}

.Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links:hover
  .link {
  color: var(--main-color) !important;
}

.arabic-version
  .Development-cards-container
  .Development-card
  .flipping-card--back
  .hover-growing-links:hover
  .arrow
  i {
  transform: scale(-1) rotate(45deg) !important;
}

@media (max-width: 991.8888px) {
  .Development-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767.8888px) {
  .Development-cards-container {
    grid-template-columns: 1fr;
  }
}

/* world slider */
.world-slide {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding-block: 3rem;
}

.world-slide img {
  width: 100%;
}

.world-arrows-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.world-arrows-container span {
  border-radius: 100%;
  position: relative;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-arrows-container span i {
  border-radius: 100%;
  background: transparent;
  color: var(--main-color);
  max-width: max-content;
  font-size: 1rem;
  transform: none;
  margin: 0;
}

.world-arrows-container span:hover i {
  transform: rotate(0);
  color: #fff;
}

.world-arrows-container span:hover {
  background-color: var(--main-color);
}

.world-arrows-container .world-arrows-prev::after {
  inset-inline-start: unset;
  inset-inline-end: 100%;
}

.world-arrows-container .world-arrows-prev:hover::after {
  inset-inline-end: 0%;
  inset-inline-start: unset;
}

.arabic-version .world-arrows-container span:hover i {
  transform: scale(-1);
}

.world-slide h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.world-slide a {
  margin-top: 3rem;
}

@media (max-width: 767.8888px) {
  .world-slide {
    grid-template-columns: 1fr;
  }
}

.World-opening {
  display: flex;
  align-items: end;
  gap: 20rem;
}

.World-opening h4 {
  color: var(--main-color);
}

.world-wide-section {
  padding-block: 3rem;
}

.World-opening select {
  appearance: none;
  min-height: 3rem;
  border: 1px solid #141414;
  min-width: 12rem;
  border-radius: 50px;
  color: #141414;
  padding-inline-start: 1.5rem;
  background: url("../Assets/Icons/CaretDown-black.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 92% center;
}

.arabic-version .World-opening select {
  background-position: 5% center;
}

.World-opening select:focus {
  box-shadow: none;
}

.World-opening select[value=""] {
  background: #000;
}

@media (max-width: 991.8888px) {
  .World-opening {
    flex-direction: column;
    gap: 1rem;
  }
}

/*  */
.company-loactions-section {
  background-color: #f6f6f6;
  padding-block: 3rem;
}

.company-loactions-opening {
  display: flex;
  justify-content: space-between;
}

.company-loactions-arrows-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ImportantWork-arrows-container span::before,
.world-arrows-container span::before,
.company-loactions-arrows-container span::before {
  border: 2px solid #fff;
  content: "";
  inset: 0;
  visibility: visible;
  /* z-index: -1; */
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.company-loactions-arrows-container span {
  position: relative;
  border-radius: 100%;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.company-loactions-arrows-container span i {
  border-radius: 100%;
  background: transparent;
  color: var(--main-color);
  max-width: max-content;

  font-size: 1rem;
  transform: none;
  margin-top: 0rem;
  transition: all 0.3s ease-out;
}

.arabic-version .ImportantWork-arrows-container span i,
.arabic-version .world-arrows-container span i,
.arabic-version .company-loactions-arrows-container span i {
  transform: scale(-1);
  transition: all 0.3s ease-out;
}

.company-loactions-arrows-container span:hover i {
  transform: rotate(0);
  color: #fff;
}

.company-loactions-arrows-container span:hover {
  transition: all 0.3s ease-out;
  background-color: var(--main-color);
}

.company-loactions-arrows-container .company-loactions-arrows-prev::after {
  inset-inline-start: unset;
  inset-inline-end: 100%;
}

.company-loactions-arrows-container
  .company-loactions-arrows-prev:hover::after {
  inset-inline-end: 0%;
  inset-inline-start: unset;
}

.arabic-version .company-loactions-arrows-container span:hover i {
  transform: scale(-1);
}

.company-loactions-opening h2 {
  width: 50%;
}

.locations-container {
  display: flex;
  gap: 10px;
}

.locations-container .location-card {
  flex: 1;
  transition: flex 0.5s ease;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.locations-container .location-card span {
  color: #fff !important;
}

.locations-container .location-card.active {
  flex: 4;
}

.locations-container .location-card.active .clicked-img {
  display: block;
}

.locations-container .location-card.active .unclicked-img {
  display: none;
}

.locations-container .location-card .clicked-img {
  display: none;
}

.locations-container .location-card .unclicked-img {
  display: block;
}

.location-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 1rem;
}

.location-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.location-content h4 {
  color: var(--main-color);
  min-height: 3rem;
  margin-bottom: 1rem;
}

.location-content h5 {
  color: #141414;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.location-content svg {
  fill: white;
  position: relative;
  z-index: 1;
}

.location-content .card-icon-bg {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.location-card.active .location-text {
  justify-content: flex-end;
}

.location-card.active .location-content h4 {
  color: #fff;
  min-height: unset;
}

.location-card.active .location-content h5 {
  color: #fff;
  margin-bottom: 4rem;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  /* number of lines to show */
}

.location-card.active .location-content svg {
  fill: var(--main-color);
}

.location-card.active .location-content .card-icon-bg {
  background-color: #fff;
}

.location-content a {
  display: none;
}

.location-card.active .location-content a {
  display: flex;
  margin-bottom: 1rem;
}

@media (max-width: 1400.8888px) {
  .location-card.active .location-content h5 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 991.88888px) {
  .locations-container {
    flex-direction: column;
  }

  .locations-container .location-card .unclicked-img {
    height: 200px;
  }

  .company-loactions-opening {
    flex-direction: column;
  }

  .company-loactions-opening h2 {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 440px) {
  .location-content .card-icon-bg {
    height: 40px;
    width: 40px;
  }

  .location-content .card-icon-bg svg {
    height: 325px;
    width: 25px;
  }
}

.Home-last-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-block: 3rem;
}

.horizontal-cards span {
  color: white !important;
}

.vertical-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.horizontal-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.Home-last-container img {
  width: 100%;
}

.home-vertical-card {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color);
}

.vertical-card-content {
  padding: 1rem;
}

.vertical-card-content span {
  color: var(--main-color);
  margin-bottom: 1rem;
  display: block;
}

.home-horizontal-card {
  position: relative;
}

.horizontal-card-content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.home-horizontal-card h4 {
  color: #fff;
}

@media (max-width: 991.88888px) {
  .Home-last-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575.8888888px) {
  .vertical-cards {
    grid-template-columns: 1fr;
  }
}

/*  */
.investors-relations {
  display: flex;
  margin-block: 3rem;
}

.gif-block {
  flex: 1;
  display: grid;
}

.gif-block img {
  width: 100%;
}

.gif-block:first-child picture {
  align-self: end;
  height: fit-content;
}

.arabic-version .gif-block .gif img {
  transform: scaleX(-1);
}

.investors-relations-main {
  flex: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.investors-relations-main h4 {
  color: var(--main-color);
}

.investors-relations-main h1 {
  color: #e32d3c;
}

.investors-relations-main h5 {
  opacity: 0.5;
}

.investors-relations-main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-block: 1rem;
}

.investors-relations-main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  background: rgba(72, 130, 83, 0.1);
}

.investors-relations-main-card h1 {
  color: #141414;
}

.investors-relations-main-card h5 {
  color: #141414;
  opacity: 1;
}

@media (max-width: 991.8888px) {
  .investors-relations {
    flex-direction: column;
    padding-inline: 1rem;
  }

  .investors-relations-main-cards {
    grid-template-columns: 1fr 1fr;
  }

  .investors-relations {
    justify-content: center;
  }

  .gif-block {
    flex: unset;
  }

  .investors-relations-main {
    flex: inset;
  }

  .investors-relations picture {
    width: 40%;
    justify-self: center;
  }
}

/* Ticket 75 */
.home-accordion {
  top: -4rem;
}

.investors-relations-main h1 {
  font-weight: 600 !important;
}

.investors-relations {
  margin-top: 4rem;
}

.ImportantWork-slider img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-end-end-radius: 7px;
  border-end-start-radius: 7px;
}

.company-products-opening h2 {
  width: 54%;
}

.arabic-version .company-products-opening h2 {
  width: 44%;
}

.home-accordion {
  box-shadow: 0px 0px 60px 0px #b6b6b640;
  width: 35%;
  inset-inline-start: 4rem;
  border-radius: 10px;
}

.arabic-version .home-accordion {
  width: 31%;
  inset-inline-start: 2rem;
}

.ImportantWork-opening {
  margin-top: 4rem;
}

.ImportantWork-opening h2 {
  width: 80%;
  text-align: center;
  font-weight: 600;
}

.arabic-version .ImportantWork-opening h2 {
  width: 69%;
  font-weight: 500;
}

.ImportantWork-slider .slick-slide {
  position: relative;
}

.ImportantWork-slider .slick-slide h4 {
  position: absolute;
  bottom: 8%;
  padding-inline-start: 4%;
  color: #fff;
}

/* Ticket 76 */
.investors-relations-main-card {
  padding: 1rem 3rem;
  border-radius: 6px;
}

.development-section {
  margin-top: 6rem;
}

.world-slide .hover-growing-links {
  margin-top: 2rem !important;
}

.world-slide {
  gap: 40px;
}

.Development-cards-container .Development-card {
  border-radius: 10px;
}

.company-loactions-opening h4 {
  color: var(--main-color);
}

.company-loactions-opening h2 {
  font-weight: 600;
  width: 54%;
}

.location-card.active .location-content h5 {
  width: 73%;
}

/* Ticket 83 */
.development-opening h2 {
  width: 54%;
}

.locations-container {
  margin-top: 2rem;
}

.Home-last-container .hover-growing-links {
  height: fit-content;
}

.Home-last-section-opening {
  margin-top: 4rem;
}

.Home-last-section-opening h4 {
  color: var(--main-color);
}

.Home-last-section-opening h2 {
  width: 54%;
}

.ImportantWork-slider img {
  aspect-ratio: 110 / 57;
}

/* Ticket 84 */
.footer-section .footer-item:nth-child(1) h5 {
  width: 46ch;
}

.main-footer-container .footer-copyright-container-centered a,
.main-footer-container .footer-copyright-container-centered p {
  font-size: 0.95rem;
}

.world-slider-container {
  display: grid !important;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 50% 50%;
  max-width: 100%;
}
.World-images-slider .World-images-slide img {
  width: 100%;
}
.World-content-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.world-images-slider-container {
  flex: 1;
  width: 100%;
}
