.hero-section {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
  z-index: 1;
  pointer-events: none;
}
.arabic-version .hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 60%),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 60%);
  z-index: 1;
  pointer-events: none;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%; 
  background-image: url(../Assets/Home/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translateY(0); /* Starting position */
}
.hero-content{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  margin-top: auto;
  z-index: 2;
}
.hero-content h2{
  width: 50%;
}
.hero-card p {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.hero-cards-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.hero-card{
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  
}
.hero-card:hover{
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.hero-card::after{
  content: '';
  width: 50%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
}
@media (max-width:991.888888px) {
  .hero-cards-box{
    grid-template-columns: 1fr 1fr;
  }
  .hero-content{
    margin-top: 15.25rem;
  }
}
@media (max-width:767.888888px) {
  .hero-content h2{
    width: 100%;
  }
  .hero-content{
    margin-top: 15.25rem;
  }
}

.ImportantWork-opening{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ImportantWork-opening h4{
  color: var(--main-color);
}
.ImportantWork-slider .slick-track {
  display: flex;
  gap: 1rem;
  padding-block: 3rem;
}
.ImportantWork-slider img {
  width: 100%;
  aspect-ratio: 85/57;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.ImportantWork-slider .slick-slide {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  /* max-height: 10rem; */
}

.ImportantWork-slider .slick-slide:not(.slick-center) {
  transition: all 0.3s ease-out;
  /* transform: translateX(1rem); */
  transform: scale(0.9);
}

.ImportantWork-slider .slick-center {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
  z-index: 5;
}

.ImportantWork-arrows-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.ImportantWork-arrows-container span {
  border-radius: 100%;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImportantWork-arrows-container span i {
  border-radius: 100%;
  background: transparent;
  color: var(--main-color);
  max-width: max-content;
  font-size: 1rem;
  transform: none;
  margin-top: 0.3rem;
}
.ImportantWork-arrows-container span:hover i {
  transform: rotate(0);
  color: #fff;
  
}
.ImportantWork-arrows-container span:hover {
  background-color: var(--main-color);
  
}
.ImportantWork-arrows-container .ImportantWork-arrows-prev::after {
  inset-inline-start: unset;
  inset-inline-end: 100%;
}
.ImportantWork-arrows-container .ImportantWork-arrows-prev:hover::after {
  inset-inline-end: 0%;
  inset-inline-start: unset;
}
.arabic-version .ImportantWork-arrows-container span:hover i {
  transform: scale(-1);
}
@media (max-width: 767.88888888px) {
  .home-slider-inner-circle {
    max-width: 280px;
    aspect-ratio: 1;
  }
  .home-slider-inner-circle h2 {
    font-size: 1.7rem;
    margin-bottom: 0;
  }
  .home-slider-inner-circle span {
    font-size: 0.9rem;
  }
}
@media (max-width: 576.88888888px) {
  .home-slider-inner-circle span {
    font-size: 0.85rem;
  }
  .home-slider-inner-circle {
    aspect-ratio: unset;
    border-radius: 0;
    justify-content: center;
    padding-top: unset;
    height: 100%;
    padding-bottom: unset;
    background: #7a1129c5;
    bottom: -0%;
    inset-inline-start: -8%;
  }
  .ImportantWork-slider .slick-center {
    border-start-start-radius: 10px;
    transform: scale(1.1);
  }
  .ImportantWork-slider .slick-track {
    gap: 0.5rem;
  }
}
@media (max-width: 400px) {
  .ImportantWork-slider .slick-center {
    border-start-start-radius: 10px;
    transform: scale(1);
  }
  .home-slider-inner-circle {
    width: 100%;
    /* inset: 0; */
    max-width: 80%;
  }
}



.darkLayer-section .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: #fff;
  
}

.darkLayer-card{
  display: flex;
  align-items: center;
  gap: 20px;
}
.darkLayer-section{
  background-image: url('../Assets/Inners/About Company/Rectangle\ 179.png');
  padding-block: 3rem;
}
.darkLayer-section h2 {
  color: #fff;
  margin-bottom: 2rem;
}
.darkLayer-section h1{
  color: #fff;
}
@media (max-width:991.88888px) {

  .darkLayer-section .container{
      grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:575.88888px) {
 
  .darkLayer-section .container{
      grid-template-columns: 1fr ;
      
  }
  
}
.company-products-section{
  margin-block: 3rem;
}
.company-products-opening h4{
  color: var(--main-color);
}
.company-products-container img{
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}
.company-products-container{
  position: relative;
  margin-top: 5rem;
}
.home-accordion{
  position: absolute;
  top: -3rem;
  inset-inline-start: 2rem;
  display: block !important;
  width: 40%;
  background-color: #fff;
  height: 80%;
  overflow: scroll;
  scrollbar-width: none;
}
.custom-accordion .accordion-button:not(.collapsed){
  background: #fff !important;
}
.custom-accordion .accordion-btn{
  margin-inline-start: unset !important;
}
.custom-accordion .accordion-btn::after{
  display: none;
}
.custom-accordion .accordion-btn::before{
  display: none;
}
.custom-accordion .accordion-button:not(.collapsed) .accordion-btn{
  background-color: var(--main-color) !important;
}
.custom-accordion .accordion-btn{
  background-color: #fff !important;
}
.custom-accordion .accordion-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-accordion .accordion-btn svg{
  fill: var(--main-color);
}
.custom-accordion .accordion-button:not(.collapsed) .accordion-btn svg{
  fill: #fff;
}
.custom-accordion .accordion-item .accordion-body p{
  color:#141414 !important;
  opacity: 0.5;
}
.scroll-arrow {
  position: absolute;
  bottom: 1rem; /* Adjust based on your design */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none; /* Initially hidden */
  width: 100px;
  
}

.scroll-arrow.flipped {
  transform: translateX(-50%) rotate(180deg); /* Flips the arrow */
}
