.main-stars-header {
  background-image: url("../Assets/Headers/Industrial\ complex.png");
}
.IndustrialComplex-opening-inner {
  background-color: var(--gray-color);
  padding: 2rem;
  border-radius: 5px;
}
.IndustrialComplex-inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-block: 3rem;
}
.IndustrialComplex-inner-container img {
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 1400.88888px) {
  .IndustrialComplex-inner-container {
    align-items: start;
  }
}
@media (max-width: 767.88888px) {
  .IndustrialComplex-inner-container {
    grid-template-columns: 1fr;
  }
}
/* Ticket 44 */
.IndustrialComplex-opening-inner {
  background-color: #f2f4f7;
}
.IndustrialComplex-inner-container {
  padding: 0 !important;
  gap: 30px;
}
