.main-footer-container {
  position: relative;
  background: url("../Assets/footer-pattern.png"), linear-gradient(90deg, rgba(20, 20, 20, 0.95) 0%, #0e0d0d 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

.main-footer-container picture img {
  width: 100%;
  max-width: 300px;
}  


.footer-section .footer-item:nth-child(1) h5{
  max-width: 35ch;
  padding-top: 2rem;
  min-width: unset;

}
.main-footer-container .footer-item-header {
  position: relative;
}

.main-footer-container .footer-item {
  padding-top: 1.5rem;
}

.main-footer-container .fa-minus::before,
.main-footer-container .fa-plus::before {
  color: #56b847;
}

.main-footer-container .footer-logo-container img {
  max-width: 150px;
  object-fit: contain;
}

.main-footer-container .footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-footer-container .footer-logo-container p {
  color: var(--main-color);
  line-height: 20px;

  margin-bottom: 0;
}

.main-footer-container > .footer-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 0;
 }

.footer-container > .footer-section > div {
  position: relative;
}

.footer-container > .footer-section > div:last-child::before {
  display: none;
}

.main-footer-container .footer-bottom-content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline: 0;
}

.main-footer-container .footer-bottom-content p {
  margin-bottom: 0;
  color: var(--main-color);

  opacity: 1;
}

.footer-section .footer-item {
  /* flex: 2; */
  min-width: max-content;
  /* flex-shrink: 0; */
}

.footer-section .footer-item ul {
  list-style: none;
}

.footer-section .footer-item h4,
.footer-section .footer-item h5 {
  min-width: max-content;

  color: #fff;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
}

.main-footer-container .footer-section ul {
  padding-block: 0.75rem;
  padding-left: 0;
}

.main-footer-container .footer-item .footer-location-text p {
  color: #fff;
  padding-top: 0.75rem;
}

.main-footer-container .footer-item ul li {
  color: #e0e0e0;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}

.main-footer-container .footer-item ul li a {
  text-decoration: none;
  color: #fff;
}

.main-footer-container .footer-item ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.main-footer-container .footer-location-text .footer-go-to-location {
  display: flex;
  gap: 0.5rem;
  color: var(--main-color);
  align-items: center;
}

.main-footer-container .footer-location-text .footer-go-to-location img {
  width: 38px;
  height: 38px;
}

.main-footer-container .footer-copyright-container {
  background: var(--main-color);
  margin-top: 2rem;
}

.main-footer-container .footer-copyright-container-centered {
  /* margin-inline: 5vw; */
  padding: 0.8rem 0;
  display: flex;

  justify-content: space-between;
  color: #fff;
}

.main-footer-container .footer-copyright-container-centered a {
  color: #fff;
  padding-inline-end: 1rem;
  position: relative;
  text-decoration: none;
}

.main-footer-container .footer-copyright-container-centered a::after {
  height: 50%;
  top: 25%;
  inset-inline-end: 0.35rem;
  content: "";
  position: absolute;
  background: #fff;
  width: 1px;
}

.main-footer-container
  .footer-copyright-container-centered
  a:last-child::after {
  display: none;
}

.main-footer-container .footer-copyright-container-centered p {
  margin-bottom: 0;
}

.main-footer-container .footer-social-icons {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.footer-social-icons li a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.mobile-responsive {
  outline: none;
  border: none;
  color: var(--primary-white-color);
  background: transparent;
  display: none;
}

.footer-container .show {
  display: block;
}


 .main-footer-container .footer-item ul li a {
opacity: 0.6;
}
@media (max-width: 991px) {
  .main-footer-container .footer-item ul li{
    padding: 1rem 0 !important;
  }
  .footer-item .footer-item-header h4{
    padding-bottom: 0rem;
  }
  .footer-section .footer-item:nth-child(1) h5{
  max-width: 100%;
  min-width: unset;
  }
  .footer-section .footer-item{
    width: 100%;
    max-width: 100%;
    min-width: unset;
    }
    .main-footer-container .footer-section ul{
      margin-bottom: 0;
    }
  .main-footer-container > .footer-section {
    flex-direction: column;
  }

  .footer-item-header {
    display: flex;
    align-items: top;
    justify-content: space-between;
  }

  .main-footer-container .footer-item:not(:first-child) {
    padding-top: 0;
  }

  .footer-ashurBank img {
    max-width: 240px;
  }

  .mobile-responsive {
    display: flex;
    padding-top: 0.15rem;
  }

  .footer-section ul li {
    position: relative;
    padding: 0.75rem 0;
  }

  .footer-section ul:not(.show) {
    display: none;
  }

  .footer-section ul li::after {
    position: absolute;
    bottom: 0;
    bottom: -0px;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--gray-color);
  }
}

@media (max-width: 767px) {
  .footer-copyright-container-centered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 575px) {
  .main-footer-container .footer-bottom-content,
  .main-footer-container .footer-section {
    padding-inline: 0.5rem;
  }

 
}

.footer-contact-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}

.footer-contact-content p {
  margin-bottom: 0;
}

.footer-social-media-container {
  display: flex;
  gap: 1.5rem;
}

.footer-social-media-container .single-social-media {
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.footer-social-media-container .single-social-media i {
  color: var(--main-color);
  font-size: 1.2rem;
  transition: all 0.3s ease-out;
}

.single-social-media svg {
  width: 21px;
  object-fit: contain;
  fill: #fff;
  transition: all 0.3s ease-out;
}

.single-social-media:hover svg {
  fill: #56b847;
  transition: all 0.3s ease-out;
}

.single-social-media:hover i {
  color: #56b847;
  transition: all 0.3s ease-out;
}

.single-social-media:hover {
  transition: all 0.3s ease-out;
  border-color: #56b847;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Ticket 77 */
.arabic-version .main-footer-container .footer-item ul li a {
  font-size: .9rem;
}

.footer-section .footer-item h4 {
  padding-bottom: 0;
}

.main-footer-container .footer-section ul {
  padding-inline-start: 0;
}

.footer-section .footer-item:nth-child(1) h5 {
  max-width: 45ch;
}

.footer-section .footer-item h5 {
  padding-bottom: 0;
}

.main-footer-container>.footer-section {
  gap: 1rem;
}

.arabic-version .main-footer-container>.footer-section {
  gap: 2rem;
}

.main-footer-container .footer-copyright-container-centered {
  padding: 1rem 0;
}

