.LessonsAndEducation-card-container {
  border: 1.5px solid rgb(20 20 20 / 20%);
  padding: 10px 0;
  border-radius: 8px;
}
.LessonsAndEducation-card-container .image {
  border-inline-end: 1.5px solid rgb(20 20 20 / 20%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}
@media (max-width: 400px) {
  .LessonsAndEducation-card-container .image {
    padding: 0px 15px;
  }
}
.LessonsAndEducation-card-container .LessonsAndEducation-content > span {
  color: var(--main-color);
  margin-bottom: 0.5rem;
}
.LessonsAndEducation-card-container .LessonsAndEducation-btn {
  color: #141414;
  text-decoration: none;
  width: fit-content;
  padding-top: 2px;
}
.LessonsAndEducation-card-container .LessonsAndEducation-btn:hover,
.LessonsAndEducation-card-container .LessonsAndEducation-btn:hover svg path {
  color: var(--main-color);
  fill: var(--main-color);
}
.LessonsAndEducation-card-container .LessonsAndEducation-btn:hover .link {
  text-decoration: underline;
}
.LessonsAndEducation-content {
  padding-block: 20px;
  flex: 0.9;
}
/* ==================== */
.LessonsAndEducation-box {
  border-radius: 10px;
}
.LessonsAndEducation-box h4 {
  color: #000;
}
