#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
} */
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
}
/*#cssmenu > ul > li a.active:before{ position:absolute; content:''; height:2px; width:100%; right:0px; background-color:#DD2C2C; bottom:8px;}
#cssmenu > ul > li:last-child:after,#cssmenu > ul > li.noborder:after{ display:none;}*/

#cssmenu > ul > li:hover a:before,
#cssmenu > ul > li a:hover:before {
  position: absolute;
  content: "";
  height: 0.75rem;
  width: 100%;
  right: 0px;
  background-image: url("../Assets/Icons/General/active-menu.svg");
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-out;
  bottom: -1.5rem;
}
#cssmenu > ul > li a.active:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 100%;
  right: 0px;
  /* background-color: #dd2c2c; */
  bottom: 0px;
  display: none;
}

body.arabic-version #cssmenu > ul > li:hover:before {
  left: 0px;
}
#cssmenu > ul > li a.active {
  color: #f1f1f1;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 10px 0px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
  font-weight: 510;
}
#cssmenu > ul > li:hover > a {
  color: #f1f1f1;
}
#cssmenu li:hover > ul > li a:before {
  display: none;
}
/*#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}*/
#cssmenu > ul > li.has-sub > a:after {
  content: "";
  /*margin-left: 3px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #4B7DAA;
*/
  margin-left: 4px;
  position: relative;
  top: 2px;
  right: 0px;
  display: inline-block;
  font-weight: 900;
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  display: inline-block;
}
#cssmenu > ul > li.has-sub:hover > a:after {
  transform: rotate(180deg);
}

body.arabic-version #cssmenu > ul > li.has-sub > a::after {
  margin-left: 0px;
  margin-right: 4px;
}

/*#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}*/
#cssmenu > ul > li> ul li:hover ul::before ,
#cssmenu > ul > li:hover > ul::before {
  transform: scaleX(100%);
  transition: all 0.5s ease-out;
}

#cssmenu ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  height: 5px;
  width: 100%;
  background: var(--primary-color);
  transform-origin: left;
  transform: scaleX(0%);
  z-index: 2;
  transition: all 0.5s ease-out;
}

.arabic-version #cssmenu ul ul::before {
  transform-origin:right;

}
#cssmenu ul ul {
  position: absolute;
  inset-inline-start: -9999px;
  background-color: #fff;
  z-index: 999;
  /* box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.08); */
  border-bottom-left-radius: 10px;

  border-bottom-right-radius: 10px;
  top: 100%;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#cssmenu ul ul li:last-child a {
  border-radius: 0 0 5px 5px;
}
#cssmenu ul ul li:first-child a {
  border-radius: 5px 5px 0px 0px;
}

#cssmenu li:hover > ul {
  left: auto;
}
.arabic-version #cssmenu li:hover > ul {
  left: unset;
  right: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
.arabic-version #cssmenu.align-right li:hover > ul {
  left: unset;
  right: auto;
}
#cssmenu li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
.arabic-version #cssmenu ul ul ul {
  margin-left: unset;
  margin-right: 100%;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.arabic-version #cssmenu.align-right ul ul ul {
  margin-right: 0;
  margin-left: 100%;
}
#cssmenu ul ul li a {
  border-bottom: none;
  padding: 9px 10px;
  width: 210px;
  font-size: 12px;
  text-decoration: none;
  color: #333;
  background: #fff;
  text-align: left;
  border-left: 5px solid #fff;
  line-height: 1.4;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: var(--primary-color);
  border-inline: none;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1b1b1b;
  content: "";
  display: none;
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a {
  justify-content: space-between;
}
#cssmenu ul ul li.has-sub > a i {
  transition: all 0.3s ease-out;
}

#cssmenu ul ul li.has-sub:hover > a i {
  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1b1b1b;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: none;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen ul {
  width: 100%;
  display: none;
}
#cssmenu.small-screen.align-center > ul {
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
  height: auto;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
}
#cssmenu.small-screen > ul > li {
  float: none;
}
#cssmenu.small-screen ul ul li a {
  padding-left: 25px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left: 35px;
}
#cssmenu.small-screen ul ul li a {
  color: #1b1b1b;
  background: none;
}
#cssmenu.small-screen ul ul li:hover > a,
#cssmenu.small-screen ul ul li.active > a {
  color: #1b1b1b;
}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 10px;
  color: var(--secondary);
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 99;
  position: absolute;
  top: unset;
  bottom: 12%;
  inset-inline-end: 0px;
  margin-inline: 0;
  background: transparent;
  /* width: 35px;
  height: 35px; */
  border-radius: 10px;
  border: 1px solid #2c362b4d;
}

#cssmenu.small-screen #menu-button i {
  min-width: 21px;
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  height: 46px;
  width: 46px;
  cursor: pointer;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
  background: #fff;
}

#cssmenu.small-screen .submenu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cssmenu.small-screen .submenu-button i {
  color: var(--secondary) !important;
  font-size: 1.1rem;
}
/* #cssmenu.small-screen .submenu-button:after {
  position: absolute;
  top: 22px;
  right: 19px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1b1b1b;
  content: "";
}
#cssmenu.small-screen ul ul .submenu-button:after {
  top: 15px;
  right: 13px;
} */
/* #cssmenu.small-screen .submenu-button.submenu-opened:after {
  background: #1b1b1b;
}
#cssmenu.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right: 22px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1b1b1b;
  content: "";
}
#cssmenu.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
} */
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  display: none;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}
.showmob-link {
  display: none !important;
}

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
}
@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 12px;
    margin: 0px 6px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 12px;
    margin: 0px 5px;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1199px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 10px;
    margin: 0px 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.8888888888px) {
  #cssmenu > ul > li > a {
    padding: 15px 17px;
    color: #333 !important;
    font-size: 14px;
    margin: 0;
  }
  #cssmenu ul ul {
    border-top: 0px solid #e9931a;
    margin: 0;
  }
  .col-md-8.col-lg-8.topbar_bottm {
    padding-left: 15px;
  }
  #cssmenu.small-screen ul ul li:hover > a,
  #cssmenu.small-screen ul ul li.active > a {
    color: #1b1b1b;
  }

  #cssmenu > ul > li::after {
    display: none;
  }
  .showmob-link {
    display: block !important;
  }
  #cssmenu > ul > li:hover:before {
    width: 100%;
    left: 0;
    display: none;
  }
  body.arabic-version #cssmenu.small-screen ul li {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen .submenu-button {
    right: inherit;
    left: 0px;
    border-left: 0px solid rgba(120, 120, 120, 0.2);
    border-right: 1px solid rgba(120, 120, 120, 0.2);
  }
  body.arabic-version #cssmenu ul ul li a {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen ul ul li a {
    padding-right: 25px;
    padding-left: 5px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
  }
  body.arabic-version #cssmenu ul ul li:hover > a,
  body.arabic-version #cssmenu ul ul li a:hover {
    border-left: 0px solid #4b7daa;
    border-right: 0px solid #4b7daa;
  }
  #cssmenu ul ul li a {
    font-size: 13px;
  }

  #cssmenu > ul > li a.active::before {
    display: none;
  }
  #cssmenu > ul > li a.active:before {
    display: none !important;
  }
  /* body.arabic-version #cssmenu.small-screen #menu-button {
    right: inherit;
    left: 0px;
  } */
}
@media only screen and (max-width: 767.88888888888888px) {
  #cssmenu > ul > li > a {
    padding: 15px 17px;
    color: #333 !important;
    font-size: 14px;
    margin: 0;
  }
  #cssmenu ul ul {
    border-top: 0px solid #e9931a;
    margin: 0;
  }
  .col-md-8.col-lg-8.topbar_bottm {
    padding-left: 15px;
  }
  #cssmenu.small-screen ul ul li:hover > a,
  #cssmenu.small-screen ul ul li.active > a {
    color: #1b1b1b;
  }

  #cssmenu > ul > li::after {
    display: none;
  }
  .showmob-link {
    display: block !important;
  }
  #cssmenu > ul > li:hover:before {
    width: 100%;
    left: 0;
    display: none;
  }
  body.arabic-version #cssmenu.small-screen ul li {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen .submenu-button {
    right: inherit;
    left: 0px;
    border-left: 0px solid rgba(120, 120, 120, 0.2);
    border-right: 1px solid rgba(120, 120, 120, 0.2);
  }
  body.arabic-version #cssmenu ul ul li a {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen ul ul li a {
    padding-right: 25px;
    padding-left: 5px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
  }
  body.arabic-version #cssmenu ul ul li:hover > a,
  body.arabic-version #cssmenu ul ul li a:hover {
    border-left: 0px solid #4b7daa;
    border-right: 0px solid #4b7daa;
  }
  #cssmenu ul ul li a {
    font-size: 13px;
  }
  #cssmenu > ul > li a:hover::before,
  #cssmenu > ul > li a.active::before {
    display: none;
  }
  #cssmenu > ul > li a.active:before {
    display: none !important;
  }
  /* body.arabic-version #cssmenu.small-screen #menu-button {
    right: inherit;
    left: 1.5rem;
  } */
}

#cssmenu .head_btm_menu {
  text-align: center;
}

@media (max-width: 991.8888888888888px) {
  .head_btm_menu {
    justify-content: flex-end !important;
  }
}
