.ministers-information-container form {
  padding-top: 1.5rem;
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

.ministers-information-container form input::placeholder {
  color: var(--main-color);
}
.ministers-information-container form input:focus,
.ministers-information-container form input:focus-visible,
.ministers-information-container form input:focus-within {
  box-shadow: none;
  border-color: #076fa0;
}
.ministers-information-container form input {
  min-height: 3.125rem;

  border-radius: 8px;
  padding-inline: 1.5rem;
  background-color: #fff;
  background-image: url("../Assets/Icons/CalendarBlank.svg");
  background-repeat: no-repeat;
  color: var(--main-color);
  opacity: 1;
  max-width: 250px;
  flex: 1;
  box-shadow: 0px 0px 40px 0px #b6b6b626;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  background-size: 1.5rem;
  background-position: 97%;
}

.arabic-version .ministers-information-container form input {
  background-position: 1rem;
}
.ministers-information-container form button {
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--main-color);
  border-radius: 8px;
}
.ministers-information-container form button span {
  color: #fff;
}
.ministers-information-container form button img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

/* names slider  */
.ministers-names-container {
  display: flex;
  flex-direction: column;
}
.ministers-names-container-slider {
  padding-top: 2rem;
  /* padding-block: 2rem; */
  /* max-width: 90%; */
  width: 90%;
  align-self: center;
  overflow-y: visible;
}
.ministers-names-container-slider .slick-list {
  padding-top: 3rem !important;
  padding-bottom: 7rem !important;
}
.ministers-names-container-slider .slick-track::before,
.ministers-names-container-slider .slick-track::after {
  display: none;
}
.ministers-names-container-slider .slick-track {
  display: flex;
  gap: 1rem;
}
.ministers-names-container-single-box {
  padding: 0.5rem 0.6rem;
  position: relative;
  background: #03375026;
  height: auto;
  flex: 1;
  display: flex !important;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-out;
  text-align: center;
}
.ministers-names-container-single-box::after {
  position: absolute;
  bottom: -2.85rem;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: block;
  background: var(--main-color);
  inset-inline-start: 50%;
  transform: translateX(50%);
}
.ministers-names-container-single-box::before {
  width: 4px;
  background: var(--main-color);
  position: absolute;
  content: "";
  height: 0rem;
  transition: all 0.3s ease-out;
  bottom: -2rem;
  inset-inline-start: calc(50% - 2px);
}
body:not(.arabic-version) .ministers-names-container-single-box::after {
  transform: translateX(0%);
}
body:not(.arabic-version) .ministers-names-container-single-box::before {
  inset-inline-start: calc(50% - -5px);
}

/* .ministers-names-container-single-box.slick-active:first-of-type::before , */
body:not(.arabic-version)
  .ministers-names-container-single-box.slick-active:nth-child(1 of .slick-active)::before,
.arabic-version
  .ministers-names-container-single-box.slick-active:nth-child(
    4 of .slick-active
  )::before {
  bottom: -8rem;
  transition: all 0.3s ease-out;
  height: 6rem;
}

body:not(.arabic-version)
  .ministers-names-container-single-box.slick-active:nth-child(1 of .slick-active),
.arabic-version
  .ministers-names-container-single-box.slick-active:nth-child(
    4 of .slick-active
  ) {
  background: var(--main-color);
  transition: all 0.3s ease-out;
}
.ministers-names-container-single-box h3 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 30.4px;
  color: var(--main-color);
  margin-bottom: 0;
  transition: all 0.3s ease-out;
}

body:not(.arabic-version)
  .ministers-names-container-single-box.slick-active:nth-child(1 of .slick-active)
  h3,
.arabic-version
  .ministers-names-container-single-box.slick-active:nth-child(
    4 of .slick-active
  )
  h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
.ministers-names-container-line {
  height: 4px;
  box-shadow: 0px 0px 40px 0px #b6b6b626;
  width: 100%;
  transform: translateY(-4.75rem);
  background: var(--main-color);
  display: block;
}

.ministers-individual-slider .ministers-individual-single-card {
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  height: auto;
  transition: all 0.3s ease-out;
}
.ministers-individual-slider .ministers-individual-single-card img {
  aspect-ratio: 144 / 125;
  object-fit: contain;
  object-position: top;
}

body:not(.arabic-version)
  .ministers-individual-slider
  .ministers-individual-single-card.slick-active:nth-child(1 of .slick-active),
.arabic-version
  .ministers-individual-slider
  .ministers-individual-single-card:nth-child(4 of .slick-active) {
  transition: all 0.3s ease-out;
  opacity: 1;
}

.ministers-names-container-slider-arrows {
  transform: translateY(-6rem);
  display: flex;

  justify-content: space-between;
}
.ministers-names-container-slider-arrows .hover-growing-links {
  background: #fff;
}
.arabic-version
  .ministers-names-container-slider-arrows
  .hover-growing-links
  i {
  transform: scale(-1);
}
.ministers-names-container-slider-arrows .hover-growing-links {
  cursor: pointer;
}
.arabic-version
  .ministers-names-container-slider-arrows
  .hover-growing-links:nth-child(1):after {
  inset-inline-start: -100%;
}
.arabic-version
  .ministers-names-container-slider-arrows
  .hover-growing-links:nth-child(2):after {
  inset-inline-start: 100%;
}
.arabic-version
  .ministers-names-container-slider-arrows
  .hover-growing-links:nth-child(1):hover:after {
  inset-inline-start: 0;
}
.ministers-names-container-slider-arrows .hover-growing-links:hover i {
  color: #fff;
}

.ministers-cards-container-slider .slick-track::after,
.ministers-cards-container-slider .slick-track::before {
  display: none;
}

.ministers-cards-container-slider {
  transform: translateY(-3rem);
  gap: 1rem;
  max-width: 90%;
  position: relative;
  /* padding-inline: 2rem; */
  align-self: center;
}

.ministers-individual-single-card-content {
  height: 100%;
  justify-content: space-between;
}
.ministers-individual-single-card-content h6 {
  color: var(--main-color);
}
.ministers-individual-single-card-content {
  background: #0337500d;
}

.ministers-information-container select {
  appearance: none;
  min-height: 3.125rem;
  box-shadow: 0px 0px 40px 0px #b6b6b626;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  color: var(--main-color);
  max-width: 250px;
  width: 100%;
  background: unset;
  padding-inline: 1.5rem;
  background-image: url("../Assets/Icons/form-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem);

}

.ministers-information-container select {
  color: rgba(3, 55, 80, 0.6);
}

.ministers-information-container select option {
  color: var(--main-color);
}

.arabic-version .ministers-information-container select {
  background-position: 1rem;
}

@media (max-width: 991.88888px) {
  .ministers-information-container form select {
    max-width: unset;
  }
  .ministers-information-container form input {
    max-width: unset;
  }
  .ministers-information-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400.88888px) {
  .ministers-information-container form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767.88888px) {
  .ministers-names-container-line {
    transform: translateY(-4.65rem);
  }
  .ministers-names-container-single-box::after {
    bottom: -2.95rem;
  }
  .ministers-names-container-single-box::before {
    inset-inline-start: calc(50% - 2px);
  }
}

@media (max-width: 1100.8888px) {
  /* body:not(.arabic-version)
    .ministers-names-container-single-box.slick-active:first-of-type::before, */
  .arabic-version
    .ministers-names-container-single-box.slick-active:nth-child(
      3 of .slick-active
    )::before {
    bottom: -8rem;
    transition: all 0.3s ease-out;
    height: 6rem;
  }

  /* body:not(.arabic-version)
    .ministers-names-container-single-box.slick-active:first-of-type, */
  .arabic-version
    .ministers-names-container-single-box.slick-active:nth-child(
      3 of .slick-active
    ) {
    background: var(--main-color);
    margin-inline: 1rem;
    transition: all 0.3s ease-out;
  }
  /* body:not(.arabic-version)
    .ministers-names-container-single-box.slick-active:first-of-type */
    h3,
  .arabic-version
    .ministers-names-container-single-box.slick-active:nth-child(
      3 of .slick-active
    )
    h3 {
    color: #fff;
  }
  body:not(.arabic-version)
    .ministers-individual-slider
    .ministers-individual-single-card.slick-active:first-of-type,
  .arabic-version
    .ministers-individual-slider
    .ministers-individual-single-card:nth-child(3 of .slick-active) {
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}
@media (max-width: 400.8888px) {
  body:not(.arabic-version)
    .ministers-names-container-single-box.slick-active::before,
  .arabic-version .ministers-names-container-single-box.slick-active::before {
    bottom: -8.75rem;
    transition: all 0.3s ease-out;
    height: 6rem;
  }

  body:not(.arabic-version) .ministers-names-container-single-box.slick-active,
  .arabic-version .ministers-names-container-single-box.slick-active {
    background: var(--main-color);
    margin-inline: 1rem;
    transition: all 0.3s ease-out;
  }
  body:not(.arabic-version)
    .ministers-names-container-single-box.slick-active
    h3,
  .arabic-version .ministers-names-container-single-box.slick-active h3 {
    color: #fff;
  }
  body:not(.arabic-version)
    .ministers-individual-slider
    .ministers-individual-single-card.slick-active,
  .arabic-version
    .ministers-individual-slider
    .ministers-individual-single-card {
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}

.bottom-section {
  padding-bottom: 2rem;
  background: rgb(3, 55, 80, 0.05);
}
.bottom-section .section-topic {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.formation-of-ministers-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.formation-of-ministers-container .ministers-individual-single-card img {
  aspect-ratio: 61 / 48;
  object-fit: cover;
  object-position: top;
}
.formation-of-ministers-container .ministers-individual-single-card h4 {
  color: var(--secondary-color);
  padding-top: 1rem;
}
.arabic-version .link-container a i {
  transform: scale(-1);
}
.arabic-version .link-container a:hover i {
  transform: scale(-1) translateX(-5px);
}
.link-container a span {
  font-weight: 500;
}
.bottom-section
  .formation-of-ministers-container
  .ministers-individual-single-card
  .ministers-individual-single-card-content {
  background: #fff;
}
.arabic-version
  .ministers-individual-single-card-content
  .hover-growing-links:nth-child(2)::after {
  inset-inline-start: 100%;
}

@media (max-width: 991.8888px) {
  .formation-of-ministers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400.8888px) {
  .formation-of-ministers-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
