.main-stars-header {
  background-image: url(../Assets/Headers/Mining\ and\ Mines.png) !important;
}

.MiningInner-opening h4 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.MiningInner-opening h2 {
  max-width: 60%;
}

@media (max-width:991.888888888px) {
  .MiningInner-opening h2 {
    max-width: 100%;
  }
}

.MiningInner-1st-section {
  padding-block: 3rem;
  margin-block: 2rem;
  background-color: var(--gray-color);
}

.MiningInner-1st-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.MiningInner-1st-section .container img {
  width: 100%;
  border-radius: 10px;
}

.MiningInner-2nd-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-block: 3rem;
}

.MiningInner-2nd-container img {
  width: 100%;
  border-radius: 10px;
}

.MiningInner-last-section {
  background-color: var(--gray-color);
  padding-block: 3rem;
}

.MiningInner-last-section a {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.MiningInner-last-section > div > a::before {
  background: url("../Assets/Icons/MagnifyingGlassPlus.svg");
  inset: 50%;
  content: "";
  transform: translate(-50%, -50%);
  background-size: contain;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  aspect-ratio: 1;
  z-index: 11;
  opacity: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;
}

.arabic-version .MiningInner-last-section > div > a::before {
  transform: translate(50%, -50%);
}

.MiningInner-last-section > div > a::after {
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  content: "";
  background: rgba(20, 20, 20, 0.4);
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;
  border-radius: 10px;
}

.MiningInner-last-section > div > a:hover::before,
.MiningInner-last-section > div > a:hover::after {
  transition: all 0.3s ease-out;
  opacity: 1;
  visibility: visible;
}


.MiningInner-last-section img {
  border-radius: 10px;
  cursor: pointer;
}

.MiningInner-last-section .container img {
  width: 100%;

}

/* .MiningInner-last-section img:hover { 
   transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.MiningInner-last-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-block: 1rem;
}

.MiningInner-last-section h2 {
  text-align: center;
  color: var(--main-color);
}



.MiningInner-last-section h2 {
  padding-bottom: 2rem;
}

@media (max-width: 991.888888888px) {
  

  .MiningInner-1st-section .container {
    grid-template-columns: 1fr;
  }

  .MiningInner-2nd-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .MiningInner-last-section .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767.888888888px) {
  .MiningInner-last-section .container {
    grid-template-columns: 1fr;
  }
}


.share-btn {
  flex-direction: row-reverse;

}

.arabic-version .share-btn {
  flex-direction: row;
}

/* Start 43 */
.MiningInner-last-section .popup-content {
  border-radius: 0;
}

/* Ticket 96 */
.MiningInner-1st-section ul,
.MiningInner-2nd-container ul {
  list-style-type: none;

}

.MiningInner-1st-section ul li,
.MiningInner-2nd-container ul li {
  position: relative;
  padding-inline-start: 1rem;
}

.MiningInner-1st-section ul li::before,
.MiningInner-2nd-container ul li::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--main-color);
  border-radius: 50%;
  inset-inline-start: 0;
  transform: translateY(9px);
}

@media (max-width: 575.888888888px) {

  .MiningInner-1st-section ul li::before,
  .MiningInner-2nd-container ul li::before {
    width: 7px;
    height: 7px;
    transform: translateY(7px);
  }
}

/* Ticket  66 */
.popup-footer {
  position: static;
}

.popup {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 991px) {
  .popup-content {
    height: auto;
  }



  .popup-footer {
    transform: unset;
  }
}

@media (min-width: 992px) {
  #caption {
    width: 90%;
  }
}

.img-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 80px - 100px);
}

#caption {
  text-align: center;

}

.popup-footer {
  margin: auto;
}