.national-documents-inner-container img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  height: auto;
}

.national-documents-inner-content {
  padding-top: 2rem;
}
.national-documents-inner-content h3 {
  line-height: 1.9rem;
  padding-top: 1rem;
  color: var(--secondary-color);
}
.national-documents-inner-content p {
  font-weight: 400;
  margin-bottom: 0;
  max-width: 90%;
  line-height: 1.5;
}
.national-documents-inner-content > p {
  padding-top: 1rem;
}

.national-documents-inner-content ul {
  list-style: none;
  text-indent: 1rem;
}
.national-documents-inner-content ul li {
  color: var(--main-color);
  position: relative;
  padding-top: 1rem;
}

.national-documents-inner-content ul li::before {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  top: 60%;
  border-radius: 100%;
  inset-inline-start: 0rem;
  background: var(--main-color);
}
.national-documents-inner-content ul li span{
  color: var(--secondary-color);
}

@media (max-width: 991px) {
  .national-documents-inner-content > p {
    max-width: 100%;
  }
}
