.national-documents-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.national-documents-card {
  box-shadow: 0px 0px 40px 0px #b6b6b626;
  border: 1px solid rgba(3, 55, 80, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
  width: 100%;
}

.national-documents-card--icon {
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--main-color);
  border-radius: 100%;
}
.national-documents-card--icon img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.national-documents-card--title h3 {
  color: var(--main-color);
}

.national-documents-card--link {
  aspect-ratio: 1;
  width: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
  justify-self: end;
  text-decoration: none;
  padding: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid var(--main-color);
  margin-inline-start: auto;
  color: var(--main-color);
}
.national-documents-card--link::after {
    width: 100%;
    height: 100%;
    background: var(--main-color);
    content: "";
    position: absolute;
    inset-inline-start: 100%;
    border-radius: 100%;
    z-index: 3;
    transition: all 0.3s ease-out;
  }
.arabic-version .national-documents-card--link i {
  transform: scale(-1);
}

.arabic-version .national-documents-card--link::after {
  inset-inline-start: 100%;
}

.national-documents-card--link::after {
  inset-inline-end: 100%;
  inset-inline-start: unset;
}
.national-documents-card--link:hover::after {
  inset-inline-end: 0%;
}
.arabic-version .national-documents-card--link:hover::after {
  transition: all 0.3s ease-out;
  inset-inline-start: 0%;
}

.national-documents-card--link i {
  transition: all 0.3s ease-out;
}
.national-documents-card--link:hover i {
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-out;
  color: #fff;
}

@media (max-width: 767px) {
  .national-documents-container {
    grid-template-columns: 1fr;
  }
}
