.main-stars-header {
  background-image: url(../Assets/Headers/News.png) !important;
}

.latest-news-container {
  margin-top: 3rem;
}

.latest-news-card {
  display: flex;
  background-color: var(--gray-color);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
  align-items: stretch;
  flex-direction: row-reverse;
}

.latest-news-card:nth-child(odd) {
  flex-direction: row;
}

.latest-news-card picture {
  flex: 1;
}

.latest-news-card img {
  width: 100%;
  object-fit: contain;
}

.latest-news-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  gap: 1rem;
}

.latest-news-card-content::before {
  content: "";
  height: 101%;
  background-color: var(--gray-color);
  width: 10px;
  position: absolute;
  top: -1px;
  display: block;
  inset-inline-start: -9px;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}

.latest-news-card-content::after {
  content: "";
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  top: 30%;
  z-index: 100;
  inset-inline-start: 0px;
  background: #F7F8FA;
  transform: rotate(45deg) translateX(-100%);
  color: var(--gray-color);
}
.arabic-version  .latest-news-card-content::after {

  transform: rotate(45deg) translateX(100%);
}
.latest-news-card:nth-child(odd) .latest-news-card-content::after {
  inset-inline-end: -0px;
  inset-inline-start: unset;
  transform: rotate(45deg) translateX(100%);
}
.arabic-version  .latest-news-card:nth-child(odd) .latest-news-card-content::after {
  
  transform: rotate(45deg) translateX(-100%);

}
.latest-news-card:nth-child(odd) .latest-news-card-content::before {
  content: "";
  height: 101%;
  background-color: var(--gray-color);
  width: 10px;
  position: absolute;
  top: -1px;
  display: block;
  inset-inline-start: unset;
  inset-inline-end: -9px;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
}

.latest-news-card-content span {
  color: var(--main-color);
}

.latest-news-card-content h5 {
  opacity: 0.7;
}

.latest-news-card-content h3 {
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date-wrapper {
  position: relative;
}

.date-wrapper input {
  font-size: 0.87rem;
  color: #141414;
  background: #fff !important;
}

.date-wrapper .date-icon {
  position: absolute;
  width: 1.2rem;
  top: 6px;
  aspect-ratio: 1;
  cursor: pointer;
  inset-inline-end: 1.75rem;
}

.date-wrapper:hover .date-icon {
  filter: brightness(1.5);
}

.date-wrapper .date-icon img {
  width: 100%;
}

.official-announcements-wrapper>div:nth-child(1) input {
  background-image: url("../Assets/Icons/search-gray.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  color: rgba(20, 20, 20, 0.5);

  padding-inline-end: 2.5rem;
}
#report-title{
padding-inline-start: 2.5rem;
}
.arabic-version .official-announcements-wrapper>div:nth-child(1) input {
  background-position: calc(100% - 1rem) center;
  padding-inline-start: 2.5rem;
  padding-inline-end: 0.75rem;
}

.official-announcements-wrapper .hover-growing-links img {
  width: 1rem;
}

@media (max-width: 767.8888888px) {
  .latest-news-card {
    flex-direction: column-reverse !important;
  }

  .latest-news-card-content::after {
    display: none;
  }

  .latest-news-card-content::before {
    display: none;
  }
}

/* Ticket 47 */
.pagination-share-container .pagination {
  gap: 0.1rem !important;
}

/* Ticket 57 */
.official-announcements-wrapper>div:nth-child(1) input {
  background-size: 14px;
}