.main-stars-header {
  background-image: url(../Assets/Headers/News.png) !important;
}
.latest-news-container {
  margin-top: 3rem;
}
.latest-news-card {
  display: flex;
  background-color: var(--gray-color);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
  align-items: center;
}
.latest-news-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.latest-news-card picture {
  flex: 1;
}
.latest-news-card img {
  width: 100%;
  object-fit: contain;
}
.latest-news-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  gap: 1rem;
}
.latest-news-card-content::before {
  content: "";
  height: 101%;
  background-color: var(--gray-color);
  width: 10px;
  position: absolute;
  top: -1px;
  display: block;
  inset-inline-end: -9px;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}

.latest-news-card-content::after {
  content: "";
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  top: 30%;
  inset-inline-end: -20px;
  z-index: 100;
  background: #f2f4f7;
  transform: rotate(45deg);
  color: var(--gray-color);
}
.latest-news-card:nth-child(odd) .latest-news-card-content::after {
  inset-inline-start: -29px;
  transform: rotate(45deg);
}
.latest-news-card:nth-child(odd) .latest-news-card-content::before {
  content: "";
  height: 101%;
  background-color: var(--gray-color);
  width: 10px;
  position: absolute;
  top: -1px;
  display: block;
  inset-inline-end: unset;
  inset-inline-start: -9px;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}
.latest-news-card-content span {
  color: var(--main-color);
}
.latest-news-card-content h5 {
  opacity: 0.7;
}
.latest-news-card-content h3 {
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date-wrapper {
  position: relative;
}
.date-wrapper input {
  font-size: 0.87rem;
  color: #141414;
  background: #fff !important;
}
.date-wrapper .date-icon {
  position: absolute;
  width: 1.2rem;
  top: 6px;
  aspect-ratio: 1;
  cursor: pointer;
  inset-inline-end: 1.5rem;
}
.date-wrapper:hover .date-icon {
  filter: brightness(1.5);
}

.date-wrapper .date-icon img {
  width: 100%;
}
.official-announcements-wrapper > div:nth-child(1) input {
  background-image: url("../Assets/Icons/search-gray.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  color: rgba(20, 20, 20, 0.5);

  padding-inline-end: 2.5rem;
}
.arabic-version .official-announcements-wrapper > div:nth-child(1) input {
  background-position: calc(100% - 0.75rem) center;
  padding-inline-start: 2.5rem;
  padding-inline-end: 0.75rem;
}
.official-announcements-wrapper .hover-growing-links img {
  width: 1rem;
}
@media (max-width: 767.8888888px) {
  .latest-news-card {
    flex-direction: column-reverse !important;
  }
  .latest-news-card-content::after {
    display: none;
  }
  .latest-news-card-content::before {
    display: none;
  }
}
