.news-inner-main-slider-hero-slide picture img {
  height: auto;
  width: 100%;
  object-fit: contain;
  max-height: 450px;
}

.news-inner-main-slider-nav-for-container {
  flex: 6;
  padding-top: 1rem;
  width: 100%;
}

.news-inner-main-slider-hero-arrows {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.news-inner-main-slider-hero-arrows > div {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.3s ease-out;
  border: 1px solid var(--main-color);
  cursor: pointer;
}
.news-inner-main-slider-hero-arrows > div:nth-child(2) {
  transform: scale(-1);
}

.arabic-version .news-inner-main-slider-hero-arrows > div:nth-child(1) {
  transform: scale(-1);
}

.arabic-version .news-inner-main-slider-hero-arrows > div:nth-child(2) {
  transform: scale(1);
}
.news-inner-main-slider-hero-arrows > div:hover {
  background: var(--main-color);
  transition: all 0.3s ease-out;
}
.news-inner-main-slider-hero-arrows > div:hover path {
  transition: all 0.3s ease-out;
  fill: #fff;
}

.news-inner-main-slider-nav-for-slide {
  margin-inline-start: 1rem;
  aspect-ratio: 1;
  position: relative;
  border-radius: 10px;
  border: 3px solid transparent;
  overflow: hidden;
  transition: all 0.3s ease-out;
  max-width: 6rem;
  overflow: hidden;
}

.news-inner-main-slider-nav-for-slide.slick-current.slick-active::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.3s ease-out;

  background: #b1854f80;
  opacity: 0.5;
}
.news-inner-main-slider-nav-for-slide.slick-current.slick-active {
  border-color: #b1854f;
  transition: all 0.3s ease-out;
}
.news-inner-main-slider-nav-for-slide img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  /* max-width: 5rem; */
  aspect-ratio: 1;
  height: 100%;
}
 .news-inner-main-slider-nav-for-container .slick-track {
  margin-right: unset;
  margin-left: unset;
  flex-direction: row;
  display: flex;
}


@media (min-width: 1200px) {
  .news-inner-main-slider-nav-for-container .slick-track {
    transform: unset !important;
  }
}
.news-inner-flex {
  display: flex;
  gap: 2rem;
}
@media (max-width: 991px) {
  .news-inner-main-slider-nav-for-container .slick-track {
    /* display: flex; */
    /* justify-content: space-between; */
  }
  .news-inner-main-slider-nav-for-slide {
    max-width: unset;
    margin-inline-start: unset;
  }
  .news-inner-main-slider-nav-for-slide img {
    max-width: unset;
  }
  .news-inner-flex {
    flex-direction: column;
  }

  .news-inner-main-slider-nav-for-container {
    width: 100%;
  }
}
@media (max-width: 575px) {
}
.news-inner-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.news-inner-section ul {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0.5rem;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0;
  max-width: 90%;
}
.news-inner-section h3 {
  max-width: 90%;
  color: var(--secondary-color);
}
.news-inner-section ul li {
  max-width: 90%;
  color: var(--main-color);
  position: relative;
}
.news-inner-section p {
  max-width: 90%;
  margin-bottom: 0;
  text-align: justify;
}
.news-inner-section ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  inset-inline-start: -0.5rem;
  background: var(--main-color);
  border-radius: 1;
  width: 0.15rem;
  aspect-ratio: 1;
}

.more-news-section .section-topic {
  margin-inline: 0;
  padding-inline: 0;
  margin-bottom: 0;
  padding-bottom: 3rem;
  /* padding-top: 0; */
}

.more-news-section {
  background-color: rgba(3, 56, 80, 0.05);
}

.more-news-section-cards-container {
  display: grid;
  gap: 1rem;
  grid-template-rows: 400px;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .news-inner-section ul,
  .news-inner-section h3,
  .news-inner-section ul li,
  .news-inner-section p {
    max-width: 100%;
  }
}
