.main-stars-header {
  background-image: url(../Assets/Headers/Our\ history.png);
}

.StrategicFramework-opening h4 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.StrategicFramework-opening h2 {
  width: 55%;
  margin-bottom: 1rem;
}

.OurHistory-section .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 100%;
  grid-template-rows: 100px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../Assets/Inners/Our history/BG.png");
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;

}

.OurHistory-section .container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(72, 130, 83, 0.85) 0%, rgba(16, 28, 18, 0.9) 100%);
}

#main-content img {
  width: 60%;
  margin-bottom: 1rem;
}

@media (min-width: 1024.88888888888px) {
  .OurHistory-section .container {
    grid-template-rows: unset;
    grid-template-columns: 250px 9fr;
  }
}

@media (max-width: 1024.88888888888px) {
  #main-titles.slick-slider {
    height: fit-content;
    width: 100%;
    margin-top: 3rem;
  }
}

.OurHistory-section .container .main-titles {
  justify-content: center;
  align-items: center;
}

.OurHistory-section .container .main-content {
  justify-content: center;
  align-items: center;
}

.slick-slider {
  width: 100%;
  /* margin-top: 7rem; */
  position: relative;
  height: 800px;

}

#main-titles::before {
  position: absolute;
  width: 1px;
  height: 100%;
  content: "";
  background-color: white;
  right: 2.7rem;
}

.arabic-version #main-titles::before {
  left: 2.7rem;
  right: unset;
}

#main-titles {
  z-index: 999;
}

#main-content {
  z-index: 999;
}

#main-content .slick-slide {
  min-height: max-content;
}

#main-content div h4 {
  margin-top: 10rem;
  margin-bottom: 1rem;
}

#main-content div h2 {
  margin-bottom: 2rem;
}

.history-arrows-box {
  position: absolute;
  display: flex;

  z-index: 999;
}

.history-arrow {
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.history-arrow i {
  color: var(--main-color);
}

@media (min-width: 1024.88888888888px) {

  #main-titles .slick-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-inline: 1rem; */
  }

  #main-titles .slick-list.draggable {
    width: 100%;
  }

  #main-titles .slick-track .slick-slide {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }

  .slick-slide h2 {
    transition: all 0.3s ease-out;
    min-height: 48px;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.slick-active.slick-current h2 {
  transition: all 0.3s ease-out;
}

.slick-active.slick-current {
  transition: all 0.3s ease-out;
}

#main-titles .slick-slider .slick-track {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024.88888888888px) {
  .history-arrows-box {
    gap: 1rem;
    inset-inline-start: 286px;
    inset-block-start: 80px;
  }

  #main-content .slick-list.draggable {
    height: 100% !important;
  }

  #main-content .slick-track {
    height: 100% !important;
  }
}

#main-content div {
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  /* display: flex;justify-content: center; */
  /* display: flex !important; */
}

#main-content div p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content h2 {
  max-width: 70%;
}

#main-titles div h2 {
  position: relative;
  /* padding-inline-end: 5rem; */
  color: #fff;
}

#main-titles div h2::before {
  position: absolute;
  content: "";
  right: 2rem;
  z-index: 20;
  top: 0.7rem;
  border-radius: 100%;
  width: 1.45rem;
  height: 1.45rem;
  background-color: var(--main-color);
  display: none;
}

.arabic-version #main-titles div h2::before {
  left: 2rem;
  right: unset;
}

#main-titles div h2::after {
  position: absolute;
  content: "";
  right: 1.75rem;
  z-index: 10;
  top: -0.07rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: rgb(157, 155, 155);
}

.arabic-version #main-titles div h2::after {
  right: unset;
  left: 1.75rem;
}

#main-titles .slick-active.slick-current h2::after {
  background-color: white;
  width: 3rem;
  height: 3rem;
  right: 1.25rem;
}

.arabic-version #main-titles .slick-active.slick-current h2::after {
  right: unset;
  left: 1.25rem;
}

#main-titles .slick-active.slick-current h2::before {
  display: block;
}

.slick-slide.slick-current.slick-active {
  /* display: none !important; */
}


@media (max-width: 1024.88888888888px) {
  #main-content h2 {
    max-width: 100%;
  }

  #main-content img {
    width: 100%;
  }

  #main-titles div h2::after {
    display: none;
  }

  .history-arrows-box {
    gap: 20rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inset-block-start: 3rem;
  }

  .arabic-version .history-arrows-box {
    flex-direction: row-reverse;
    inset-inline-start: unset;
    inset-inline-end: 50%;
  }

  .history-arrows-box #prev {
    transform: rotate(270deg);
  }

  .history-arrows-box #next {
    transform: rotate(270deg);
  }

  #main-content div h4 {
    margin-top: 2rem;
  }

  .slick-slider {
    height: unset;
  }

  #main-content {
    padding-inline: .75rem
  }

  #main-slider {
    flex-direction: column;
  }

  #main-titles div h2 {
    padding-inline-end: 0;
    text-align: center;
    width: max-content;
    min-height: 45px;
    font-size: 2rem;
    margin-bottom: 0;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-titles .slick-track {
    height: 100%;
  }

  #main-titles .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-titles .slick-active.slick-current h2::after {
    display: none;
  }

  #main-titles .slick-active.slick-current h2::before {
    /* inset-inline-start: -3.25rem; */
    display: none;
  }

  #main-titles::before {
    display: none;
  }

  /* #main-content .slick-next{
      right: 0;
      left: 40px;
      transform: rotate(90deg);
  }
  #main-content .slick-prev{
      right: 0;
      transform: rotate(90deg);
  } */
  #main-content .slick-prev,
  #main-content .slick-next {
    top: -5.75rem;
    transform: unset;
  }

  #main-content .slick-next {
    right: unset;
    left: unset;
    inset-inline-end: .75rem;

  }
}



@media (max-width: 575px) {
  .history-arrows-box {
    gap: 15rem;

  }

  #main-content h2 {
    max-width: unset;
  }

  #main-content img {
    width: 100%;
  }

  .OurHistory-section .container {
    padding-bottom: 3rem;
  }
}

/* Ticket 112 */
.OurHistory-section .container {
  margin-bottom: 4rem;
}

#main-titles div h2::after {
  width: 1.5rem;
  height: 1.5rem;
  right: 1.9rem;
}

.StrategicFramework-opening {
  padding: 0;
}

/* Ticket 95 */
@media (max-width: 991.888888888888px) {
  .StrategicFramework-opening h2 {
    width: 100%;
  }
}