.filter select {
  width: unset;
}
.SalaryStatement-btn {
  color: #141414;
  text-decoration: none;
  width: fit-content;
  padding-top: 2px;
}
.SalaryStatement-btn:hover,
.SalaryStatement-btn:hover svg path {
  color: var(--main-color);
  fill: var(--main-color);
}
.SalaryStatement-btn:hover .link {
  text-decoration: underline;
  scale: 1.2;
  transition: 0.3s ease-in-out;
  padding-top: 3px;
}
.SalaryStatement-content {
  padding-block: 20px;
  flex: 0.9;
}
.SalaryStatement-2nd-container {
  width: fit-content;
}
