
.vacancies-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 3rem;
}
@media (max-width:991.8888px){

    .vacancies-container{
 grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:450px){

    .vacancies-container{
 grid-template-columns: repeat(1,1fr);
    }
}
.vacancy-card{
    border: 1px solid  #033750;
    display: grid;
    grid-template-rows: auto 1fr;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.vacancy-card picture{
    background-color: #e6ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
}
.vacancy-card h4{
   color: var(--secondary-color);
}
.vacancy-card h3{
    margin-inline-start:1rem;
    margin-top:1rem;
}
.vacancy-card p{
    color: #03375080;
    opacity: 0.5;
}
.vacancy-card-content {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.vacancy-card a{
    min-height: 35px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.vacancy-card-content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hover-growing-links[data-hover-pos="start"]{
    margin-inline-start: auto ;
}