.main-stars-header {
  background-image: url(../Assets/Headers/Video\ Gallery.png) !important;
}
/* Gallery */
.photoGallery-opening {
  display: flex;
  gap: 10px;
  color: var(--main-color);
  align-items: center;
}
.photoGallery-opening h5{
  margin-bottom: 0;
}
.gallery-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.video-card{
  border-radius: 8px;
  overflow: hidden;
}
.gallery-two-container picture {
  width: 100%;
  cursor: pointer;
}
.gallery-two-container picture img {
  width: 100%;
  cursor: pointer;
  height: 287px;
  object-fit: cover;
}
/* Popup Modal */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  margin: auto;
  display: block;
  width: 900px;
  height: 500px;
}

.img-container {
  width: fit-content;
  margin: auto;
  position: relative;
}
#info-text {
  position: absolute;
  color: white;
  bottom: 5px;
  left: 25px;
}
#caption {
  color: white;
  padding: 10px;
  font-size: 16px;
  position: absolute;
}

.close {
  position: absolute;
  top: -60px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.arabic-version .close{
  right: unset;
  left: 0;
}
.close picture {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-footer {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: -80px;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.popup-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  gap: 10px;
}
/* Navigation Arrows */
.popup-controls .prev,
.popup-controls .next {
  cursor: pointer;
  /* position: absolute; */
  bottom: 40px;
  width: auto;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
}
.popup-controls .prev picture,
.popup-controls .next picture {
  background-color: #eceae8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.next picture img {
  transform: rotate(180deg);
}

.download-info-btn picture {
  border: #ffffff solid 1px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 991px) {
  .popup-content {
    width: 500px;
    height: 400px;
  }
  .popup-footer {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    /* bottom: -200px; */
    gap: 0;
    padding-bottom: 2rem;
  }
  #info-text {
    left: 12%;
  }
  /* .close {
    right: 10%;
  } */
  .gallery-two-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .gallery-two-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575px) {
  .popup-content {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 430px) {
  .popup-content {
    width: 300px;
    height: 250px;
  }
}
.video-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.video-card div {
  color: var(--primary-color);
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}
.video-card div span {
  margin-bottom: 1rem;
  display: block;
}
.video-card picture {
  position: relative;
}
.play-icon {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 50px !important;
  height: 50px !important;
}

