.main-stars-header {
  background-image: url(../Assets/Headers/Video\ Gallery.png) !important;
}

/* Gallery */
.photoGallery-opening {
  display: flex;
  gap: 10px;
  color: var(--main-color);
  align-items: center;
}

.photoGallery-opening h5 {
  margin-bottom: 0;
}

.gallery-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.video-card {
  border-radius: 8px;
  overflow: hidden;
}

.gallery-two-container picture {
  width: 100%;
  cursor: pointer;
}

.gallery-two-container picture img {
  width: 100%;
  cursor: pointer;
  height: 287px;
  object-fit: cover;
}


@media (max-width: 767.888888888px) {
  .gallery-two-container {
    grid-template-columns: 1fr;
  }
}

.video-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.video-card div {
  color: var(--primary-color);
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}

.video-card div span {
  margin-bottom: 1rem;
  display: block;
}

.video-card picture {
  position: relative;
}

.play-icon {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 50px !important;
  height: 50px !important;
}
.fancybox__content > .carousel__button.is-close{
  right: -3rem;
}
@media (max-width:1022.888888px) {
  .fancybox__content > .carousel__button.is-close{
    right: 0;
  }
}